<p>评论者:
  <%= comment.user.email %>
</p>
<p>时间:
  <%= comment.created_at %>
</p>
 
<p>
  <%= comment.body %>
</p>
 
<p>
  <%= link_to 'Destroy', [comment.todo.project,comment.todo, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
<br/>
