<div class="center hero-unit">
  <h1>Project Manager</h1>

  <h2>
    This is Project Manager that help you to manager projects.
  </h2>

  <%= link_to 'My Projects', projects_path, class: "btn btn-large btn-primary" %>
</div>
