<div class="center hero-unit">
  <h1>Project Manager</h1>

  <h2>
    This is Project Manager that help you to manager projects.
  </h2>

  <% if current_user %>
    <%= link_to 'My Team', team_path(current_user.team), class: "btn btn-large btn-primary" %>
  <% else %>
    <%= link_to 'Sign in', new_user_session_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>
