<p>
  <td><%= todo.goal %></td>
  <td><%= link_to 'Show', [todo.project,todo] %></td>
  <td><%= link_to 'Destroy', [todo.project, todo],
                   method: :delete,
                   data: { confirm: 'Are you sure?' } %>
  </td>
</p>
